30px  * {margin: 0; padding: 0}

  /* Style main body element */
  body {
    font-family: 'Nunito', sans-serif;
  }

  /* NavBar */
  #logo {
    width: 75px;
    height: 75px;
    position: relative;
    bottom: 25px;
    right: 30px;
  }

  #profile {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    float: right;
    margin-top: 7px;
    cursor: pointer;
  }

  #profile:hover + #bounce{
    display: initial;
  }

  #welcome-div {
    height: 30vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    margin-bottom: 35px;
    position: relative;
    bottom: 20px;
    color: white;
    text-align: center;
    padding-top: 3%;
  }

  #welcome-text-p {
    color: #cdbfe3;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }


  /* Sign Out Bounce */
  #bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    display: none;
    float: right;
    position: relative;
    right: 20px;
    top: 15px;
  }

  /* Scroll down indicator (bouncing) */
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateX(0); }
    40% {
      -webkit-transform: translateX(-30px); }
    60% {
      -webkit-transform: translateX(-15px); } }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateX(0); }
    40% {
      -moz-transform: translateX(-30px); }
    60% {
      -moz-transform: translateX(-15px); } }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    40% {
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
      -o-transform: translateX(-30px);
      transform: translateX(-30px); }
    60% {
      -webkit-transform: translateX(-15px);
      -moz-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      -o-transform: translateX(-15px);
      transform: translateX(-15px); } }

  /* implement CSS grid in wrapper */
  #wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  #sort-menu {
    float: right;
    margin-right: 35px;
  }

  #topPage {
    position: fixed;
    top: 92vh;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
  }

  .examBox {
    text-align: center;
    color: #2e2f7d;
    font-size: 24px;

    margin: 0 20px 40px 20px;
    height: 35vh;
    width: 20vw;

    border: 2px solid #2e2f7d;
    border-radius: 12px;
    box-shadow: 10px 10px lightgray;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .examBox:hover {
    box-shadow: none;
    cursor: pointer;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  /* Style all className boxes */
  .classBox {
    text-align: center;

    margin: 0 20px 40px 20px;
    height: 30vh;

    border: 2px solid #2e2f7d;
    border-radius: 12px;
    box-shadow: 10px 10px lightgray;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .classBox:hover {
    box-shadow: none;
    cursor: pointer;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  /* Style all text for className boxes */
  .className {
    font-size: 20px;
    position: relative;
    top: 10px;
  }

  .examName {
    font-size: 22px;
    position: relative;
    top: 5px;
  }


  #lowKey {
    font-size: 20px;
    margin-bottom: 40px;
    color: darkgray;
    position: relative;
    bottom: 20px;
  }

  #numExams {
    float: right;
    padding-right: 15%;
    font-size: 75px;
    color: cornflowerblue;
  }

  #numStudents {
    float: left;
    padding-left: 15%;
    font-size: 75px;
    color: dodgerblue;
  }


  #hrInBetween {
    transform: rotate(90deg);
    display: inline-block;
    width: 15vh;
    position: relative;
    top: 30px;
  }

  hr {
    border-color: darkgray;
  }

  #exam-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  #jumbotron {
    padding-left: 66px;
    overflow: hidden;
    background: white;
    color: #2e2f7d;
    border: 1.5px solid #2e2f7d;
    border-radius: 10px;
    margin: 25px;
  }

  #class-specific-data {
    float: right;
    margin-right: 40px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }

  #class-specific-data span{
    font-size: 100px;
    padding-left: 55px;
    padding-right: 55px;
  }

  /* Media Queries */

  @media only screen and (max-width: 1400px) {
    #wrapper{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 815px) {
    #wrapper{
      grid-template-columns: repeat(1, 1fr);
    }
    #welcome-text-p {
      font-size: 15px;
      padding-top: 20px;
    }
  }

  @media only screen and (max-width: 600px) {
    #numExams {
      font-size: 50px;
    }
    #numStudents {
      font-size: 50px;
    }
    #welcome-text {
      font-size: 30px;
    }
    .dropdown {
      display: initial;
    }
    #navButton {
      display: none;
    }
    #name {
      position: relative;
      right: 30px;
    }
    #time {
      position: relative;
      right: 30px;
    }
    #score {
      position: relative;
      right: 30px;
    }
    #percentile {
      position: relative;
      right: 30px;
    }
  }

  @media only screen and (max-width: 380px) {
    #hrInBetween {
      width: 12vh;
    }
    #logo {
      right: 40px;
    }
  }

  @media only screen and (min-height: 800px) {
    #hrInBetween {
      top: 40px;
    }
  }

  @media only screen and (min-height: 900px) {
    #hrInBetween {
      top: 50px;
    }
    #numStudents {
      padding-top: 12px;
    }
    #numExams {
      padding-top: 12px;
    }
  }

  @media only screen and (min-height: 950px) {
    #hrInBetween {
      top: 60px;
    }
  }
