* {margin: 0; padding: 0; outline: none;}

  /* Style main body element */
  body {
    font-family: 'Nunito', sans-serif;
  }

  /* NavBar */
  #logo {
    font-size: 20px;
    color: black;
  }

  #profile {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    float: right;
    margin-top: 7px;
    cursor: pointer;
  }

  #profile:hover + #bounce{
    display: initial;
  }

  #welcome-div {
    height: 30vh;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    margin-bottom: 35px;
    position: relative;
    bottom: 20px;
    color: white;
    text-align: center;
    padding-top: 3%;
  }

  #welcome-text-p {
    color: #cdbfe3;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }


  /* Sign Out Bounce */
  #bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    display: none;
    float: right;
    position: relative;
    right: 20px;
    top: 15px;
  }

  /* STYLE PLACEHOLDERS */
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a5af95;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #a5af95;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #a5af95;
     opacity:  1;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
     color: #a5af95;
  }

  ::placeholder { /* Most modern browsers support this now. */
     color: #a5af95;
  }


  /* Scroll down indicator (bouncing) */
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateX(0); }
    40% {
      -webkit-transform: translateX(-30px); }
    60% {
      -webkit-transform: translateX(-15px); } }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateX(0); }
    40% {
      -moz-transform: translateX(-30px); }
    60% {
      -moz-transform: translateX(-15px); } }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    40% {
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
      -o-transform: translateX(-30px);
      transform: translateX(-30px); }
    60% {
      -webkit-transform: translateX(-15px);
      -moz-transform: translateX(-15px);
      -ms-transform: translateX(-15px);
      -o-transform: translateX(-15px);
      transform: translateX(-15px); } }

  /* implement CSS grid in wrapper */
  #wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  #sort-menu {
    float: right;
    margin-right: 35px;
  }

  tr:hover {
    background: white;
    cursor: pointer;
  }

  #topPage {
    position: fixed;
    top: 92vh;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
  }

  .examBox {
    text-align: center;
    color: #2e2f7d;
    font-size: 24px;

    margin: 0 20px 40px 20px;
    height: 35vh;
    width: 20vw;

    border: 2px solid #2e2f7d;
    border-radius: 12px;
    box-shadow: 10px 10px lightgray;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .examBox:hover {
    box-shadow: none;
    cursor: pointer;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  /* Style all className boxes */
  .classBox {
    text-align: center;

    margin: 0 20px 40px 20px;
    height: 30vh;

    border: 2px solid #2e2f7d;
    border-radius: 12px;
    box-shadow: 10px 10px lightgray;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .classBox:hover {
    box-shadow: none;
    cursor: pointer;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  #question-data #points{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* Create Exam Dashboard */
  #nameOfExam {
    border: none;
    color: #777061;
    outline: none;
    text-align: center;
    width: 50%;
    font-size: 30px;
    display: inline;
  }

  #nameOfExam:focus {
    text-align: left;
    border-bottom: 1px solid #ffcd1f;
  }

  #nameOfExam:hover {
    border-bottom: 1px solid black;
  }

  #exam {
    margin: 20px;
  }

  #partner-chooser {
    border: 1px solid;
    border-radius: 5px;
  }

  #date {
    border-radius: 5px;
    border: 1px solid #ffcd1f;
    color: black;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    padding: 5px;
  }

  #maxScore {
    display: inline;
    width: 5vw;
    border: none;
    border-bottom: 1px solid ;
    margin-top: 35px;
    text-align: center;
    font-size: 15px;
    color: black;
  }

  #numPoints {
    display: inline;
    width: 5vw;
    border: none;
    border-bottom: 1px solid dodgerblue;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 15px;
  }

  #numPoints:focus {
    border-bottom: 1px solid #ffcd1f;
  }

  #time {
    display: inline;
  }

  .question {
    width: 100%;
    padding-left: 66px;
    padding-top: 20px;
    color: black;
    font-size: 20px;
  }

  #question-title {
    width: 65%;
    border: none;
    border-bottom: 1px solid #458ec1;
    display: inline;
  }

  #question-title:focus {
    border-bottom: 1px solid #ffcd1f;
  }

  #question-choice {
    border: none;
  }

  #question-choice:focus {
    border: none;
    border-bottom: 1px solid black;
  }

  #question-type {
    border: 1px solid cornflowerblue;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    outline: none;
    margin-left: 33px;
    margin-right: 33px;
  }

  .fr {
    width: 65vw;
    height: 150px;
    resize: none;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid gray;
    padding: 15px;
  }

  #newBox {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
    color: cornflowerblue;
    background: white;
    width: 46.5vw;
    margin-left: 20px;
    box-shadow: 1px 1px;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  #newBox:hover {
    background: cornflowerblue;
    color: white;
    border: 1px solid black;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  #result::-webkit-input-placeholder { text-align: left; padding-left: 10px;}
  #result::-moz-placeholder { text-align: left; margin-left: 20px;}

  #answer-choices {
    margin: 33px;
    padding-top: 5px;
  }

  #moveDiv {
    color: lightgray;
    transform: translate(90deg);
  }

  #moveDiv:hover {
    cursor: pointer;
    color: black;
    /* .grabbing {cursor: -webkit-grabbing; cursor: grabbing;} */
  }

  #createNewAnswerChoice {
    color: #2e2f7d;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid;
    padding: 7px;
    margin: 10px;
  }

  #create-question-button {
    background: white;
    border: 2px solid #ed3b3e;
    color: #ed3b3e;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  #create-question-button:hover {
    background: #ed3b3e;
    border: 2px solid black;
    color: white;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  #save-div{
    position: fixed;
    bottom: 35px;
    right: 66px;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    background: #eeee;
    border-radius: 3px;
  }

  #save-button {
    border: none;
    border: 1px solid white;
    border-radius: 5px;
    background: #7582d8;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 18px;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  #save-button:hover {
    background: darkgray;
    color: black;
    border: 1px solid white;
  }

  #save-icon {
    position: relative;
    top: 4px;
  }

  #last-saved {
    padding-left: 10px;
  }

  #description {
    resize: none;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #dde3e5;
    width: 70vw;
    padding: 10px;
    color: black;
    display: inline;
    margin-top: 35px;
  }

  #option_vertical {
    float: right;
    display: inline;
    padding: 10px;
    margin: 2px;

    transition: all .5s;
  }

  #option_vertical:hover {
    background: blanchedalmond;
    border-radius: 100%;
    transition: all .5s;
  }


  /* The container <div> - needed to position the dropdown content */
  .dropdown {
   position: relative;
   display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  #create-exam-dashboard {
    background: white;
    padding: 66px;
    font-size: 20px;
    color: cornflowerblue;

    width: 100%;
    height: 100vh;
  }

  #question-manager {
    float: right;
    border-left: 1px solid white;
    position: fixed;

    right: 45px;
    top: 35vh;
    padding-left: 10px;
    padding-right: 10px;
    height: 300px;

    background: #eeee;
    border-radius: 5px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #question-manager::-webkit-scrollbar {
    display: none;
  }

  #circle {
    font-size: 60px;
    color: #58f;
    position: relative;
    bottom: 20px;
    height: 20px;
  }

  #text {
    z-index: 1;
    position: relative;
    bottom: 5px;
    color: black;
  }

  @keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -87px;
      margin-top: -93px;
      opacity: 0;
    }
  }

  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    position: relative;
    top: 7px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }

  #right-hr {
    float: right;
    width: 70vw;
  }

  #label:hover {
    cursor: pointer;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
  }

  #label {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .imgView {
    width: 70% !important;
  }

  #alertDiv {
    opacity: 1;
  	width: 578px;
    height: 300px;
  	background-color: white;
    color: dodgerblue;
    border: 2px solid dodgerblue;
  	text-align: center;
  	border-radius: 5px;
  	position: fixed;
    bottom: 30vh;
    vertical-align: middle;
  	margin: 20px auto;
  	display: inline-block;
  	z-index: 10001;
    margin-left: 35vw;
    overflow-y: scroll;
  }

  #imgOut {
    width: 550px;
    margin: 10px;
  }

  #imgUploadCancel {
    position: sticky;
    float: right;

    margin-right: 10px;
    margin-top: 75px;

    width: 110px;
    height: 25px;

    border: 1px solid red;
    border-radius: 3px;
    background: white;
    color: red;

    font-size: 13px;
  }

  #imgUploadAccept {
    position: sticky;
    float: right;

    margin-right: 10px;
    margin-top: 75px;

    width: 110px;
    height: 25px;

    border: 1px solid green;
    background: white;
    color: green;
    border-radius: 3px;

    font-size: 13px;
  }

  #imgUploadAccept:hover {
    background: green;
    color: white;
  }

  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #40e0d0;
  }

  .option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }

  .option {
    padding-left: 20px;
    font-weight: normal
  }

  /* Style all text for className boxes */
  .className {
    font-size: 20px;
    position: relative;
    top: 10px;
  }

  .examName {
    font-size: 22px;
    position: relative;
    top: 5px;
  }

  #lowKey {
    font-size: 20px;
    margin-bottom: 40px;
    color: darkgray;
    position: relative;
    bottom: 20px;
  }

  #numExams {
    float: right;
    padding-right: 15%;
    font-size: 75px;
    color: cornflowerblue;
  }

  #numStudents {
    float: left;
    padding-left: 15%;
    font-size: 75px;
    color: dodgerblue;
  }

  #display {
    width: 100vw;
    height: 100vh;
  }

  #currentlyTakingBox {
    width: 10vw;
    padding: 15px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    display: inline;
    float: left;
    margin-left: 20px;
  }

  #feedback-form {
    width: 100vw;
    height: 100vh;
    position: relative;
    bottom: 20px;
  }

  #hrInBetween {
    transform: rotate(90deg);
    display: inline-block;
    width: 15vh;
    position: relative;
    top: 30px;
  }

  hr {
    border-color: darkgray;
  }

  #exam-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  #jumbotron {
    padding-left: 66px;
    overflow: hidden;
    background: white;
    color: #2e2f7d;
    border: 1.5px solid #2e2f7d;
    border-radius: 10px;
    margin: 25px;
  }

  #class-specific-data {
    float: right;
    margin-right: 40px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }

  #class-specific-data span{
    font-size: 100px;
    padding-left: 55px;
    padding-right: 55px;
  }

  /* Media Queries */

  @media only screen and (max-width: 1400px) {
    #wrapper{
      grid-template-columns: repeat(2, 1fr);
    }
    #right-hr {
      width: 68vw
    }
  }

  @media only screen and (max-width: 1250px) {

    #right-hr {
      width: 65vw
    }
  }

  @media only screen and (max-width: 1150px) {
    #exam-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
    .examBox {
      width: 30vw;
    }
    #right-hr {
      width: 62vw
    }
  }

  @media only screen and (max-width: 1030px) {
    #exam-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    .examBox {
      width: 40vw;
    }
    #right-hr {
      width: 58vw
    }
  }

  @media only screen and (max-width: 930px) {
    #right-hr {
      width: 55vw
    }
  }

  @media only screen and (max-width: 855px) {
    #wrapper{
      grid-template-columns: repeat(1, 1fr);
    }
    #welcome-text-p {
      font-size: 15px;
      padding-top: 20px;
    }
    #right-hr {
      width: 52vw
    }
  }

  @media only screen and (max-width: 795px) {
    #right-hr {
      width: 40vw
    }
  }

  @media only screen and (max-width: 610px) {
    #exam-wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
    #right-hr {
      width: 4vw
    }
    .examBox {
      width: 80vw;
      margin-left: 10vw;
    }
    #cached-exam-button {
      width: 48%;
    }
    .btn {
      width: 48%;
    }
    #main-header {
      text-align: center;
    }
    #class-specific-data span{
      float: none;
      font-size: 75px;
      border-top: 1px solid gray;
      position: relative;
      top: 10px;
    }
    #class-specific-data{
      margin: 0;
      float: none;
      border: none;
    }
    #jumbotron {
      padding: 5px;
    }
    #numExams {
      font-size: 50px;
    }
    #numStudents {
      font-size: 50px;
    }
    #welcome-text {
      font-size: 30px;
    }
    .dropdown {
      display: initial;
    }
    #navButton {
      display: none;
    }
    #name {
      position: relative;
      right: 30px;
    }
    #time {
      position: relative;
      right: 30px;
    }
    #score {
      position: relative;
      right: 30px;
    }
    #percentile {
      position: relative;
      right: 30px;
    }
  }

  @media only screen and (max-width: 380px) {
    #hrInBetween {
      width: 12vh;
    }
  }

  @media only screen and (min-height: 800px) {
    #hrInBetween {
      top: 40px;
    }
  }

  @media only screen and (min-height: 900px) {
    #hrInBetween {
      top: 50px;
    }
    #numStudents {
      padding-top: 12px;
    }
    #numExams {
      padding-top: 12px;
    }
  }

  @media only screen and (min-height: 950px) {
    #hrInBetween {
      top: 60px;
    }
  }
